@import url('../Fonts/fonts.css');

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-top: 50px;
}


form {
    margin-bottom: 10px;
    margin-left: 50px;
    width: 100%;
}

form > * {
    vertical-align: middle;
}

input[type=text] {
    width: 75%;
    height: 50px;
    background-color: #f9ba66;
    border-color: #f9ba66;
    outline: none;
    font-size: 2em;
    font-family: "SVBold";
    margin-right: 10px;
}

input[type=text]:focus {
    background-color: #d6861e;
    border-color: #d6861e;
}

button {
    height: 40px;
    width: 60px;
    background-color: #dc7b05;
    border-color: #5b2b2a;
    display: inline-block;
    font-family: "SVBold";
    font-size: 1em;
}


.fish_container {
    padding: 15px 15px;
    width: 350px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: row;
    row-gap: 15px;
    /* background-color: #dda817; */
}

@media only screen and (min-width: 768px) {
    .menu {
        order: 0;
        margin-top: 0px;
    }

    .fish_container {
        width: 500px;
        grid-template-columns: repeat(8, 1fr);
    }
}

.fishContainer {
    position: relative;
    width: 50px;
    height: 50px;
}

.fish_icon {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    position: absolute;
}

.selected {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    transform: scale(1.2);
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: rgb(50, 200, 50);
    position: absolute;
}

.shadow {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    top: 3px;
    right: 3px;
    /* transform: scale(1.1); */
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #a17949;
    position: absolute;
}

.fishInfoContainer {
    position: relative;
    top: 60px;
    right: 100px;
    background-color: #ffc979;
    border-color: #fa9305;
    border-style: ridge;
    border-width: 8px;
    border-radius: 2%;
    width: fit-content;
    z-index: 1;
}

.fishInfoContainer > p {
    margin: 5px 5px;
    font-family: "SVBold";
    font-size: 1.5em;
}

.fishInfoContainer:after {
    content: "";
    position: absolute;
    left: 100px;
    top: -15px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #a76203;
}

.fishInfo {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px;
}

.fishInfo > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 3px;
}


.fishInfo p {
    padding: 0px;
    margin: 0px;
    font-family: "SVThin";
}

.infoHeader {
    padding: 20px;
    margin-bottom: 10px !important;
    font-family: "SVBold" !important;
}
