.fish_container {
    padding: 15px 15px;
    width: 350px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: row;
    row-gap: 15px;
    /* background-color: #dda817; */
}


@media only screen and (min-width: 768px) {
    .fish_container {
        width: 500px;
        grid-template-columns: repeat(8, 1fr);
    }
}

.fishContainer {
    position: relative;
    width: 50px;
    height: 50px;
}

.fish_icon {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    position: absolute;
}

.selected {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    transform: scale(1.2);
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: rgb(50, 200, 50);
    position: absolute;
}

.shadow {
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    top: 3px;
    right: 3px;
    /* transform: scale(1.1); */
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #a17949;
    position: absolute;
}

.fishInfoContainer {
    position: relative;
    top: 60px;
    right: 100px;
    background-color: #ffc979;
    border-color: #fa9305;
    border-style: ridge;
    border-width: 8px;
    border-radius: 2%;
    width: fit-content;
    z-index: 1;
}

.fishInfoContainer > h1 {
    margin: 5px 5px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: "SVBold";
    font-size: 1.5em;
}

.fishInfoContainer:after {
    content: "";
    position: absolute;
    left: 100px;
    top: -15px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #a76203;
}

.fishInfo {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px;
}

.fishInfo > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 3px;
}


.fishInfo p {
    padding: 0px;
    margin: 0px;
    font-family: "SVThin";
}

.infoHeader {
    /* padding: 20px; */
    margin-top: 0px;
    margin-bottom: 10px !important;
    font-family: "SVBold" !important;
    font-size: 1.2em;
}
