@import url(../Fonts/fonts.css);

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.settingsModal {
    max-width: 80%;
    max-height: 70vh;
    overflow-y: auto;
    width: 500px;
    background-color: #ffcb7b;
    border-color: #fa9305;
    border-width: 8px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "SVThin";
    padding-left: 15px;
    padding-right: 15px;
}

.settingsModal h1 {
    font-family: "SVBold";
    padding: 0px;
    margin: 0px;
}

.settingsModal h2 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.settingsModal li {
    margin: 3px 10px;
    text-align: left;
}

.settingsModal ul {
    margin: 0px;
    font-size: 1.2em;
}

.toggleButtonContainer {
    height: 20px; 
    width: 20px;
    background-color: #dc7b05;
    border: solid 2px;
    border-color: #e6a61c #e6a61c #5b2b2a #5b2b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.toggleButtonActive {
    height: 10px;
    width: 10px; 
    background-color: #598f0a;
    border: solid 2px;
    border-color: #d3e720 #d3e720 #1e5511 #1e5511;
}

.setting {
    display: flex;
    /* align-self: left; */
    user-select: none;
}