.pufferdle {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 51, 68);
}

.hitImage {
    image-rendering: pixelated;
    width:20rem;
    height:auto;
}